<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收货地址列表 - 天狼小商城平台</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-12">
            <div class="alert alert-info">
                <blockquote class="layui-elem-quote">请选择您的收货地址</blockquote>
            </div>
            <form class="layui-form">
                <div class="layui-form-item ">
                    <div class="layui-input-block addressList">

                    </div>
                </div>
                <button class="layui-btn layui-btn-fluid layui-btn-primary check" type="button">确认选择该收货地址</button>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['element', 'jquery', 'layer', 'form', 'laypage'], function () {
        let $ = layui.jquery;
        let layer = layui.layer;
        let form = layui.form;
        let token = localStorage.getItem("token");

        $(".check").click(function () {
            let addressId = $('input:radio:checked').val();
            parent.console.log(addressId)
            parent.setAddress(addressId);
            let index = parent.layer.getFrameIndex(window.name); //获取当前窗口的name
            parent.layer.close(index);
        })

        $(document).ready(function () {
            ajax_common("/client/user/addressList", token, function (result) {
                console.log(result)
                if (result.succeed) {
                    let list = result.data;
                    for (let i = 0; i < list.length; i++) {
                        $(".addressList").append(addressItem(list[i]))
                    }
                    form.render();
                } else {
                    layer.msg(result.msg)
                }
            })
        })

        function addressItem(address) {
            let addr = address.uaddress + "," + address.udetail;
            let strVar = "";
            strVar += "                            <input type=\"radio\" name=\"address\" value='" + address.id + "' title='" + addr + "' checked=\"\"><br>";
            strVar += "";
            return $(strVar);
        }
    })
</script>
</html>