<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改管理员 - 天狼小商城后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row layui-col-space5">
        <div class="grid-demo">
            <fieldset class="layui-elem-field" style="margin-top: 10px;">
                <legend>管理员信息</legend>
                <div class="layui-field-box">

                    <form class="layui-form layui-form-pane" action="" lay-filter="form">
                        <input type="hidden" name="id" id="id">
                        <input type="hidden" name="avatar">
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号</label>
                            <div class="layui-input-block">
                                <input type="text" id="account" name="account" placeholder="请输入" autocomplete="off"
                                       class="layui-input" disabled>
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">昵称</label>
                            <div class="layui-input-block">
                                <input type="text" name="nickname" placeholder="请输入" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">电话</label>
                            <div class="layui-input-block">
                                <input type="text" name="phone" placeholder="请输入" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮件</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" placeholder="请输入" autocomplete="off"
                                       class="layui-input" disabled>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">身份证号码</label>
                            <div class="layui-input-block">
                                <input type="text" name="identify" placeholder="请输入" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">出生日期</label>
                            <div class="layui-input-block">
                                <input type="text" name="birthday" id="birthday" placeholder="请输入" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>

                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-block">
                                <input type="password" id="pwd1" name="pwd" placeholder="请输入" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">确认密码</label>
                            <div class="layui-input-block">
                                <input type="password" id="pwd2" placeholder="请输入" autocomplete="off"
                                       class="layui-input">
                            </div>
                        </div>


                        <div class="layui-form-item">
                            <label class="layui-form-label">账号状态</label>
                            <div class="layui-input-block">
                                <select name="state" id="state" lay-filter="form">
                                    <option value="1">正常</option>
                                    <option value="0">冻结</option>
                                </select>
                            </div>
                        </div>

                        <div class="layui-form-item" style="text-align: center">
                            <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="form">修改</button>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
</div>
</body>
<script>

    layui.use(['form', 'layer', 'jquery', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery
            , laydate = layui.laydate;

        const token = localStorage.getItem("token");

        laydate.render({
            elem: '#birthday'
            , type: 'date' //默认，可不填
        });

        $(document).ready(function () {
            ajax_common("/admin/manager/detail?account=${account}", token, function (result) {
                console.log(result)
                if (result.succeed) {
                    let item = result.data;
                    let roleList = item.roleList;
                    for (let i = 0; i < roleList.length; i++) {
                        console.log(roleList[i])
                        $(".role-add").before(
                            $("<button>").addClass("layui-btn")
                                .addClass("layui-btn-primary")
                                .addClass("role-item")
                                .attr("lay-id", roleList[i].id)
                                .html(roleList[i].roleName)
                                .click(function () {
                                    console.log($(this).attr("lay-id"))
                                    $(this).remove();
                                })
                        )
                    }
                    form.val('form', {
                        "id": item.id,
                        "account": item.username,
                        "nickname": item.nickname,
                        "phone": item.phone,
                        "depId": item.depId,
                        "jobId": item.jobId,
                        "state": item.state,
                        "avatar": item.avatar,
                        "identify": item.identify,
                        "email": item.email,
                        "birthday": item.birthday
                    })
                    /*$("#account").val(item.username);
                    console.log($("#account"))
                    console.log($("#account").val())
                    $("#nickname").val(item.nickname);
                    $("#phone").val(item.phone);
                    $("#depId").val(item.depId);*/
                    form.render();
                }
            })
        })

        form.on('submit(form)', function (data) {
            if ($("#account").val() === null) {
                layer.alert("账号不能为空!", {"icon": 2})
                return false;
            }
            if ($("#pwd1").val() !== $("#pwd2").val()) {
                layer.alert("密码不一致!", {"icon": 2})
                return false;
            }
            layer.confirm("确认修改?", ['确认', '取消'], function () {
                console.log("---------")
                console.log(data.field)
                ajax_data("/admin/client/update", token, JSON.stringify(data.field), function (result) {
                    if (!result.succeed) {
                        layer.msg("修改失败", {"icon": 2})
                    } else {
                        let index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                        layer.msg("修改成功", {time: 200}, function () {
                            parent.layer.close(index);
                            location.reload();
                        });//关闭弹窗，父页面刷新
                    }
                })
            });

            return false;
        });

    })
</script>
</html>