<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加部门 - 天狼小商城后台管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row layui-col-space5">
        <div class="grid-demo">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 10px;">
                <legend>部门信息</legend>
            </fieldset>
            <form class="layui-form layui-form-pane" action="" lay-filter="form">


                <div class="layui-form-item">
                    <label class="layui-form-label">部门名</label>
                    <div class="layui-input-block">
                        <input type="text" name="depName" placeholder="请输入" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">部门描述</label>
                    <div class="layui-input-block">
                        <input type="text" name="depDescription" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">部门等级</label>
                    <div class="layui-input-block">
                        <input type="number" id="depLevel" name="depLevel" placeholder="请输入" autocomplete="off"
                               class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item" style="text-align: center">
                    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="form">添加</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script>
    layui.use(['form', 'layer', 'jquery'], function () {
        var form = layui.form
            , layer = layui.layer
            , $ = layui.jquery;

        const token = localStorage.getItem("token");

        form.on('submit(form)', function (data) {
            layer.confirm("确认添加?", ['确认', '取消'], function () {
                console.log(data.field)
                ajax_data("/admin/department/insert", token, JSON.stringify(data.field), function (result) {
                    if (!result.succeed) {
                        layer.msg("添加失败")
                    } else {
                        let index = parent.layer.getFrameIndex(window.name);//获取窗口索引
                        layer.msg("添加成功", {time: 200}, function () {
                            parent.layer.close(index);
                            location.reload();
                        });//关闭弹窗，父页面刷新
                    }
                })
            });

            return false;
        });

    })
</script>
</html>