<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表 - 天狼小商城管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/common.js"></script>
    <style>
        .layui-table-cell {
            height: auto;
            line-height: 28px;
        }
    </style>
</head>
<body>

<blockquote class="layui-elem-quote  layui-quote-nm layui-form">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" id="goodsName" placeholder="请输入商品名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <select id="typeId">
                <option value="">请选择商品类型</option>
            </select>
        </div>
        <div class="layui-input-inline">
            <select id="brandId">
                <option value="">请选择商品品牌</option>
            </select>
        </div>
        <div class="layui-inline">
            <button class="layui-btn  layui-btn-primary" id="search">搜索</button>
        </div>
        <div class="layui-inline">
            <button class="layui-btn  layui-btn-normal" id="reset">重置</button>
        </div>
    </div>
</blockquote>

<table class="layui-hide" id="table" lay-filter="table"></table>

<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-sm layui-btn-primary" lay-event="detail">商品详情</a>
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="onSale">上架</a>
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="offShelf">下架</a>
    <a class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delete">删除</a>
</script>
</body>
<script>
    layui.use(['table', 'layer', 'jquery', 'form'], function () {
        const table = layui.table;
        const layer = layui.layer;
        const $ = layui.jquery;
        const form = layui.form;
        const token = localStorage.getItem("token");
        /* 表格数据载入 */
        table.render({
            elem: '#table',
            url: '/admin/goods/list?token=' + token,
            toolbar: '#tool',
            height: 450,
            page: true,
            cols: [[{type: 'radio'}, {
                field: 'url',
                title: '商品图片',
                width: 120,
                templet: function (d) {
                    return "    <img src=\"" + d.url + "\" width=\"50px\" height=\"50px\" class=\"goods-item-img\">\n";
                }
            }, {
                field: 'goodsName',
                title: '商品名',
                width: 160
            }, {
                field: 'count',
                title: '剩余数量',
                width: 120
            }, {
                field: 'price',
                title: '单价',
                width: 120,
                templet: function (d) {
                    return "￥" + d.price;
                }
            }, {
                field: 'state',
                title: '状态',
                width: 120,
                templet: function (d) {
                    return d.state === 1 ? "<p style='color: orange'>上架中</p>" : "<p style='color: gray'>已下架</p>";
                }
            }, {
                field: 'typeName',
                title: '类型名',
                width: 180
            }, {
                field: 'brandName',
                title: '品牌名',
                width: 180
            }, {
                field: 'description',
                title: '商品描述',
                width: 360
            }
            ]],
            id: 'reload' //表格重载的id
        });

        $(document).ready(function () {
            ajax_common("/admin/goods/allType", token, function (data) {
                console.log(data)
                if (data.succeed) {
                    let types = data.data;
                    for (let i = 0; i < types.length; i++) {
                        let type = types[i];
                        $("#typeId").append(
                            $("<option>").attr("value", type.id).html(type.typeName)
                        )
                    }
                    form.render('select');
                } else {
                    layer.msg(data.msg);
                }
            })
            ajax_common("/admin/goods/allBrand", token, function (data) {
                console.log(data)
                if (data.succeed) {
                    let brands = data.data;
                    for (let i = 0; i < brands.length; i++) {
                        let brand = brands[i];
                        $("#brandId").append(
                            $("<option>").attr("value", brand.id).html(brand.name)
                        )
                    }
                    form.render('select');
                } else {
                    layer.msg(data.msg);
                }
            })
        })

        $("#reset").click(function () {
            location.reload();
        })

        /* 表格重载 */
        $('#search').on('click', function () {
            table.reload('reload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    goodsName: $('#goodsName').val(),
                    state: $('#state').val(),
                    brandId: $('#brandId').val(),
                    typeId: $('#typeId').val()
                }
            });
        });

        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data[0];
            if (obj.event !== 'add' && checkStatus.data.length === 0) {
                layer.alert("至少选择一条数据进行操作!", {"icon": 3});
                return;
            }
            let newTab = {};
            let url = '';
            if (obj.event === 'detail') {
                url = "/admin/page/product/detail?goodsId=" + data.id + "&token=" + token;
                newTab.id = "goods_detail";
                newTab.title = "商品详情";
                newTab.content = "<iframe src='" + url + "' style='width: 100%;height: 100%;'></iframe>";
                parent.tab.add(newTab);
                parent.tab.change(newTab);
            } else if (obj.event === "delete") {
                if (data.state === 1) {
                    layer.msg("商品还在上架中,无法删除!", {"icon": 2});
                    return;
                }
                layer.confirm("是否确认删除?", {"icon": 3}, function () {
                    let params = {};
                    params.goodsId = data.id;
                    ajax_data("/admin/goods/delete", token, JSON.stringify(params), function (result) {
                        console.log(result)
                        if (result.succeed) {
                            layer.alert("删除成功!", {"icon": 1}, function () {
                                location.reload();
                            });
                        } else {
                            layer.msg(result.msg, {"icon": 2});
                        }
                    })
                })
            } else if (obj.event === "onSale") {
                if (data.state === 1) {
                    layer.msg("商品还在上架中,无需再上架!", {"icon": 7});
                    return;
                }
                layer.confirm("是否确认上架?", {"icon": 3}, function () {
                    let params = {};
                    params.goodsId = data.id;
                    ajax_data("/admin/goods/onSale", token, JSON.stringify(params), function (result) {
                        console.log(result)
                        if (result.succeed) {
                            layer.alert("上架成功!", {"icon": 1}, function () {
                                location.reload();
                            });
                        } else {
                            layer.msg(result.msg, {"icon": 5});
                        }
                    })
                })
            } else if (obj.event === "offShelf") {
                if (data.state === 0) {
                    layer.msg("商品已下架,无需再下架!", {"icon": 7});
                    return;
                }
                layer.confirm("是否确认下架?", {"icon": 3}, function () {
                    let params = {};
                    params.goodsId = data.id;
                    ajax_data("/admin/goods/offShelf", token, JSON.stringify(params), function (result) {
                        console.log(result)
                        if (result.succeed) {
                            layer.alert("下架成功!", {"icon": 1}, function () {
                                location.reload();
                            });
                        } else {
                            layer.msg(result.msg, {"icon": 5});
                        }
                    })
                })
            }
        });

    });
</script>
</html>