<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>商品列表 - 天狼小商城管理系统</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <script src="/static/layui/layui.js"></script>
</head>
<body>

<blockquote class="layui-elem-quote  layui-quote-nm layui-form">
    <div class="layui-inline">
        <div class="layui-input-inline">
            <input type="text" id="nickname" placeholder="请输入商品名" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" id="job" placeholder="投递岗位" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" id="address" placeholder="工作地址" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-inline">
            <button class="layui-btn  layui-btn-primary" id="search">搜索</button>
        </div>
    </div>
</blockquote>

<table class="layui-hide" id="table" lay-filter="table"></table>

<script type="text/html" id="tool">
    <a class="layui-btn layui-btn-sm layui-btn-warm" lay-event="detail">简历详情</a>
</script>
</body>
<script>
    layui.use(['table', 'layer', 'jquery'], function () {
        var table = layui.table;
        var layer = layui.layer;
        var $ = layui.jquery;
        const token = localStorage.getItem("token");
        /* 表格数据载入 */
        table.render({
            elem: '#table',
            url: '/admin/goods/list?token=' + token,
            toolbar: '#tool',
            width: 1120,
            height: 450,
            page: true,
            cols: [[{type: 'radio', fixed: 'left'}, {
                field: 'id',
                title: 'ID',
                width: 80,
                sort: true,
                fixed: 'left'
            }, {
                field: 'goodsName',
                title: '商品名',
                width: 80
            }, {
                field: 'typeName',
                title: '类型名',
                width: 180
            }, {
                field: 'brandName',
                title: '品牌名',
                width: 180
            }, {
                field: 'description',
                title: '商品描述',
                width: 240
            }, {
                field: 'count',
                title: '剩余数量',
                width: 120,
                fixed: "right"
            }, {
                field: 'price',
                title: '单价',
                width: 120,
                fixed: "right"
            }
            ]],
            id: 'reload' //表格重载的id
        });

        /* 表格重载 */
        $('#search').on('click', function () {
            table.reload('reload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                },
                where: {
                    goodsName: $('#goodsName').val(),
                    state: $('#state').val(),
                    brandId: $('#brandId').val(),
                    typeId: $('#typeId').val()
                }
            });
        });

        //头工具栏事件
        table.on('toolbar(table)', function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            var data = checkStatus.data[0];
            if (obj.event !== 'add' && checkStatus.data.length === 0) {
                layer.alert("至少选择一条数据进行操作!", {"icon": 2});
                return;
            }
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: "用户简历详情",
                    shadeClose: true,
                    shade: 0.2,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['70%', '100%'],
                    content: "/orp/admin/page/cv/detail?id=" + data.id,
                    end: function () {
                        $(".layui-laypage-btn").click();
                    }
                });
            }
        });

    });
</script>
</html>