<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>小天狼商城管理系统 - 404</title>
		<meta name="viewpoint" content="width=device-width,initial-scale=1">
		<link rel="stylesheet" href="/static/css/error.css" />
		<script src="/static/js/jquery.min.js"></script>
	</head>
	<body>
		<div class="code">
			<p>ERROR 404</p>
		</div>
		<div class="road">
			<div class="shadow">
				<div class="shelt">
					<div class="head">
						<div class="eyes">
							<div class="lefteye">
								<div class="eyeball"></div>
								<div class="eyebrow"></div>
							</div>
							<div class="righteye">
								<div class="eyeball"></div>
								<div class="eyebrow"></div>
							</div>
						</div>
					</div>
				</div>
				<div class="hat"></div>
				<div class="bubble">
					<a href="index.html">Go back Home?</a>
				</div>
			</div>
			<p>PAGE NOT FOUND</p>
		</div>
	</body>
	<script type="text/javascript" src="/static/js/error.js" ></script>
</html>
